# Windows junk
Thumbs.db
Desktop.ini

# Python
__pycache__/
*.pyc
.venv/
venv/

# Local Chrome profile (DO NOT COMMIT)
chrome_snu_profile/

# Debug artifacts created by the bot
snu_bot_*.png
snu_bot_*.html
snu_bot_exception_*.png
snu_bot_exception_*.html

# Logs
*.log

# IDE
.vscode/
.idea/
